<%= form_for @location do |f| %>
    <br/>

        <div class="field form-group">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Nom de location", class:"formControl" %>
        <br/>
        </div>
        <br/>

        <div class="field form-group">
            <%= f.file_field :picture %>
        </div>
        <br/>
    
        <div class="actions">
            <%= f.submit "Mettre à jour", :class => 'btnbis' %>
        </div>
        
<% end %>
    
    
                