<br/>
<div class="row">
  <div class=" col-sm-8 col-md-6 col-lg-4 mx-auto my-auto">
    <div class="card text-center">
      <div class="card-header">Modifier la catégorie</div>
        <div class="card-body">
          <br/>
            <%= render 'form2', categorie: @categorie %>
        <br/>
            <%= link_to 'Voir la catégorie', @categorie, class:"links" %> |
            <%= link_to 'Toutes les catégories', categories_path, class:"links" %>
        </div>
    </div>
  </div>
</div>